//===============================================================================
// VARIABLES
//===============================================================================
$paper:  white;
$ink:    black;

$dark: #2C2926;